{% render 'partials/head.liquid', title: 'Squad page' %}

<section class="building">
  <span class="title-span">Squad 1i</span>

  {% for person in persons %}
    <article class="apartment">
      <img src="./Raam0.png" alt="raam" class="window">
      <span class="name">{{ person.name }}</span>
    </article>
  {% endfor %}
</section>

{% render 'partials/foot.liquid', squads: squads %}