{% render 'partials/head.liquid', title: 'Squad page' %}

<section class="building">
  <span class="title-span">Squad 1i</span>

  {% for person in persons %}
    <article class="apartment" style="--fav-color: {{ person.fav_color }}">
      <img src="./Raam1.png" alt="raam" class="window" data-target="info-bubble">
      <span class="namecard">{{ person.name }} , {{ person.birthdate }}</span>
    </article>

  {% endfor %}
</section>

{% render 'partials/foot.liquid', squads: squads %}