body {
    background-color: rgb(44, 46, 69);
    display: flex;
    flex-direction: column;
}

.building {
    background-color: gray;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    align-self: center;
    margin-top: 10em;
    margin-bottom: -1em;
    padding: 3rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

    .title-span {
        grid-column: 1 / -1;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 2rem;
        background-color: gray;
        color: white;
        padding-left: .4em;
        margin-top: -3em;
        width: 18%;
    }

    .apartment {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .window {
            height: 150px;
            aspect-ratio: 1 / 1;
            position: relative;
            background-color: var(--fav-color);
            box-shadow: 0 0 10px var(--fav-color);
            cursor: pointer;
            animation: window-glow 8s infinite;

            &.active {
                animation: window-glow-active 8s infinite;
            }

        }

        .name {
            font-size: .9rem;
            color: black;
        }
    }
}

@keyframes window-glow {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        box-shadow: 0 0 9px var(--fav-color);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        box-shadow: 0 0 13px var(--fav-color);
    }
}

@keyframes window-glow-active {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        box-shadow: 0 0 15px var(--fav-color)(255, 255, 255);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        box-shadow: 0 0 19px var(--fav-color);
    }
}